.adpage{
    a{display: block;float:left;}
    a:nth-of-type(1){width: 1200px;height: 300px;margin-bottom: 10px;}
    a:nth-of-type(2),a:nth-of-type(3){width: 405px;height: 180px;margin-right: 10px;}
    a:nth-of-type(4),a:nth-of-type(5){width: 180px;height: 180px;}
    a:nth-of-type(4){margin-right: 10px;}
}

.filter{
    margin: 20px 0;padding: 5px 10px;background: #eaeaea;
    p{
        float:left;height: 18px;line-height: 18px;margin-left: -1px;padding: 5px 10px;border: 1px solid #c7c7c7;background: #fff;cursor:pointer;
        i{width: 10px;height: 16px;margin-left: 3px;background: url(../img/filter_sprite.png) no-repeat 0 0;}
    }
    p:nth-of-type(3) i{background-position: -20px 0;}
    .filteron{background: #eee;}
}

.goodlist{
    margin-left: -13px;
    li{float:left;position: relative;width: 290px;margin: 15px 0 0 13px;background: #fff;}
    .gl_img{
        position: relative;display:block;width: 290px;height: 290px;
        img{display:block;width: 100%;height: 100%;}
    }
    .gl_imgup{position:absolute;top:0;left:0;z-index:5;border:1px solid #ddd;overflow:hidden;}
    .gl_info{padding: 10px;height: 48px;}
    .gl_name{height: 16px;line-height: 16px;margin-bottom: 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .gl_price{height: 22px;line-height: 22px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-weight: bold;font-size: 18px;color: #e7380d;}

    .gl_buy{display:none;position: absolute;left: 0;bottom: 68px;width: 270px;padding: 10px;text-align: center;background: rgba(255, 255, 255, 0.9);}
    .gl_title{width: 270px;line-height: 16px;margin-bottom: 10px;}
    .gl_btnbuy{width: 180px;height: 25px;margin: 0 auto;line-height: 25px;color: #fff;background: #008742;border-radius: 4px;cursor:pointer;}
    li:hover .gl_buy{display:block;}
    .gl_btnbuy:hover{background:#09964e;}
}

.gdpages{
    float:right;margin-right:50px;padding-top:20px;
    li{float:left;width: 30px;height: 30px;line-height:30px;margin:0 10px;font-size:16px;text-align:center;background:#fff;border:1px solid #ddd;border-radius:50%;cursor:pointer;}
    .gdpageson{border-color:#008842;color:#008842;}
}