.cartheader {
  background: #e0e0e0;
}

.cartheader .container {
  padding: 15px 0 5px 0;
  position: relative;
}

.cartheader .header-logo {
  display: block;
  width: 195px;
  height: 50px;
  background: url(../img/header_logo.png) no-repeat;
}

.cartheader h2 {
  position: absolute;
  left: 240px;
  top: 16px;
  color: #008842;
  font-size: 28px;
  font-weight: normal;
  white-space: nowrap;
}

.mycart {
  padding: 20px 0;
}

.mycart .mycartmain {
  background: #fff;
}

.mycart .mycarthead {
  height: 38px;
  line-height: 38px;
  background: url(../img/mycart_sprite.png) no-repeat 0 0;
  border-bottom: 2px solid #05984d;
  position: relative;
}

.mycart .mycarthead .mycartindex {
  cursor: pointer;
  position: absolute;
  right: 22px;
  top: 2px;
  color: #008842;
  text-decoration: underline;
}

.mycart .mycarthead .mycartheadul {
  position: absolute;
  top: 6px;
  left: 300px;
}

.mycart .mycarthead .mycartheadul li {
  height: 30px;
  line-height: 30px;
}

.mycart .mycarthead .mycartheadul b {
  position: absolute;
  top: 13px;
  right: 8px;
  width: 8px;
  height: 4px;
  background: url(../img/header_sprite.png) no-repeat 0 0;
}

.mycart .mycarthead .topNav-city {
  cursor: pointer;
}

.mycart .mycarthead .topNav-city span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #008842;
}

.mycart .mycarthead .topNav-citySend {
  margin-left: 10px;
}

.mycart .mycarthead .topNav-cityName {
  position: relative;
  padding: 0 20px 0 5px;
}

.mycart .mycarthead .topNav-cityName:hover {
  background: #008842;
  color: #fff;
}

.mycart .mycarthead .topNav-cityName:hover b {
  background: url(../img/header_sprite.png) no-repeat -26px 0;
}

.mycart .mycartgd {
  padding: 10px 20px;
  border: 1px solid #e3e6e0;
  border-top: 0;
  background-color: #fff;
}

.mycart .mycartgd p {
  height: 40px;
  line-height: 40px;
  background-color: #f1f1f1;
  font-size: 12px;
  color: #262626;
  text-align: center;
  padding: 0 10px;
}

.mycart .mycartgd .mycartgdhead span {
  display: inline-block;
  width: 130px;
}

.mycart .mycartgd .mycartgdhead span:nth-of-type(1) {
  width: 320px;
}

.mycart .mycartgd .mycartlist li {
  height: 100px;
  line-height: 100px;
  border: 1px solid #ebebeb;
  margin: 20px 0;
}

.mycart .mycartgd .mycartlist span {
  display: inline-block;
  font-size: 14px;
}

.mycart .mycartgd .mycartlist span:nth-of-type(1) {
  width: 66px;
  text-align: center;
}

.mycart .mycartgd .mycartlist .mcbtncks, .mycart .mycartgd .mycartlist .mcbtndel {
  cursor: pointer;
}

.mycart .mycartgd .mycartlist span:nth-of-type(2) {
  width: 315px;
  padding-left: 90px;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: left center;
}

.mycart .mycartgd .mycartlist span:nth-of-type(3), .mycart .mycartgd .mycartlist span:nth-of-type(4), .mycart .mycartgd .mycartlist span:nth-of-type(5), .mycart .mycartgd .mycartlist span:nth-of-type(6), .mycart .mycartgd .mycartlist span:nth-of-type(7) {
  width: 130px;
  text-align: center;
}

.mycart .mycartgd .mycartlist .mcbtnnums {
  width: 42px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #cacbcb;
  text-align: center;
  font-size: 14px;
}

.mycart .mycartgd .mycartlist .mcbtnminus, .mycart .mycartgd .mycartlist .mcbtnplus {
  width: 18px;
  height: 24px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.mycart .mycartgd .mycartlist span:nth-of-type(5) {
  color: #ff5317;
}

.mycart .mycartgd .mycartdo {
  padding: 10px 20px;
}

.mycart .mycartgd .mycartdo label {
  cursor: pointer;
}

.mycart .mycartgd .mycartdo #mcckall {
  margin: 0 8px;
}

.mycart .mycartgd .mycartdo .mcbtndsome {
  margin: 0 60px;
}

.mycart .mycartgd .mycartdo b {
  color: #249c61;
  font-size: 16px;
  margin: 0 10px;
}

.mycart .mycartgd .mycartdo span:nth-of-type(5) {
  margin: 0 50px;
}

.mycart .mycartgd .mycartdo strong {
  color: #ff5317;
  font-weight: bold;
  font-size: 20px;
  margin: 0 10px;
}

.mycart .mycartgd .mycartdo span:nth-of-type(4) {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  background-color: #ff5317;
  color: #fff;
  padding: 0 20px;
}
