.banner {
  position: relative;
  width: 100%;
  height: 500px;
  top: -38px;
}

.banner ul {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.banner li {
  display: none;
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner img {
  position: absolute;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner .banner-page {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
}

.banner .banner-page span {
  float: left;
  width: 12px;
  height: 12px;
  line-height: 12px;
  color: #b5b2a8;
  background: #b5b2a8;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.banner span.banner-pageon {
  color: #5aaa16;
  background: #5aaa16;
}

.banner .banner-direct {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 40px;
  height: 100px;
  background: url(../img/banner_sprite.png) no-repeat;
  cursor: pointer;
}

.banner .banner-directL {
  left: 0;
  background-position: top left;
}

.banner .banner-directR {
  right: 0;
  background-position: top right;
}

.adList ul {
  margin-top: -10px;
}

.adList li {
  position: relative;
  float: left;
  width: 290px;
  height: 290px;
  margin-right: 10px;
}

.adList img {
  width: 290px;
  height: 290px;
}

.adList p {
  position: absolute;
  bottom: 0;
  width: 270px;
  height: 57px;
  margin: 10px;
  color: #575757;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(255, 255, 255, 0.9);
}

.adList b {
  display: block;
  padding: 3px 0;
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.floor .floor-title {
  height: 32px;
  margin: 18px 0 5px 0;
}

.floor .floor-title h2 {
  float: left;
}

.floor .floor-title h2 a {
  position: relative;
  display: inline-block;
  padding: 10px 0 0 50px;
  height: 22px;
  line-height: 22px;
  font-size: 18px;
  font-weight: bold;
  color: #fc5f3c;
}

.floor .floor-title h2 i {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 29px;
  height: 16px;
  padding: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: url(../img/floor_sprite.png) no-repeat 0 0;
}

.floor .floor-title p {
  float: right;
  padding-top: 12px;
}

.floor .floor-title p a {
  color: #4e4e4e;
  padding: 0 8px 0 6px;
  border-right: 1px solid #4e4e4e;
}

.floor .floor-title p a:last-of-type {
  border-right: 0 none;
}

.floor .floor2 .floor-title h2 a {
  color: #007f4d;
}

.floor .floor2 .floor-title h2 i {
  background-position: -46px 0;
}

.floor .floor3 .floor-title h2 a {
  color: #45c6ce;
}

.floor .floor3 .floor-title h2 i {
  background-position: -184px 0;
}

.floor .floor4 .floor-title h2 a {
  color: #f0c000;
}

.floor .floor4 .floor-title h2 i {
  background-position: -92px 0;
}

.floor .floor5 .floor-title h2 a {
  color: #e08683;
}

.floor .floor5 .floor-title h2 i {
  background-position: -138px 0;
}

.floor .floor6 .floor-title h2 a {
  color: #3ca3dc;
}

.floor .floor6 .floor-title h2 i {
  background-position: -541px 0;
}

.floor .floor-list .floor-side {
  float: left;
  width: 275px;
  height: 462px;
}

.floor .floor-list .floor-main {
  float: left;
  width: 924px;
  height: 462px;
  border-top: 1px solid #d5d5d5;
  border-left: 1px solid #d5d5d5;
}

.floor .floor-list .floor-type1 li {
  float: left;
  overflow: hidden;
  width: 230px;
  height: 230px;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.floor .floor-list .floor-type1 li:nth-of-type(3), .floor .floor-list .floor-type1 li:nth-of-type(4) {
  width: 461px;
}

.floor .floor-list .floor-type2 .floor-col1 {
  float: left;
  overflow: hidden;
  width: 234px;
  height: 383px;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.floor .floor-list .floor-type2 .floor-col2 {
  float: left;
  overflow: hidden;
  width: 442px;
}

.floor .floor-list .floor-type2 .floor-col2 a {
  display: block;
  overflow: hidden;
  float: left;
  width: 220px;
  height: 191px;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  background: #fff;
}

.floor .floor-list .floor-type2 .floor-col3 {
  float: right;
  overflow: hidden;
  width: 246px;
  height: 461px;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.floor .floor-list .floor-type2 .floor-icon {
  overflow: hidden;
  float: left;
  width: 654px;
  height: 55px;
  padding: 11px;
  background: #fff;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.floor .floor-list .floor-type2 .floor-icon a {
  float: left;
  margin: 0 14px;
}
