.signheader {
  background: #e0e0e0;
}

.signheader .container {
  padding: 15px 0 5px 0;
  position: relative;
}

.signheader .header-logo {
  display: block;
  width: 195px;
  height: 50px;
  background: url(../img/header_logo.png) no-repeat;
}

.signheader h2 {
  position: absolute;
  left: 240px;
  top: 16px;
  color: #008842;
  font-size: 28px;
  font-weight: normal;
  white-space: nowrap;
}

.signin {
  background-color: #fff;
  padding: 50px 0 30px 0;
  display: none;
}

.signin .simain {
  margin-right: 105px;
  width: 308px;
  padding: 30px 20px 20px 20px;
  background-color: #fff;
  border: 1px solid #e3e6e0;
}

.signin .simain p {
  position: relative;
  margin-bottom: 20px;
  font-size: 12px;
  color: #878787;
  overflow: hidden;
}

.signin .simain p b {
  color: #262626;
  font-size: 18px;
}

.signin .simain p i {
  position: absolute;
  width: 40px;
  height: 38px;
  left: 1px;
  top: 1px;
  background: url(../img/sign_sprite.png) no-repeat;
}

.signin .simain p i:nth-of-type(1) {
  background-position: 0 -120px;
}

.signin .simain p i:nth-of-type(2), .signin .simain p i:nth-of-type(3) {
  background-position: 0 -180px;
}

.signin .simain p:nth-of-type(1) a {
  text-decoration: underline;
  color: #008842;
}

.signin .simain p:nth-of-type(5) label, .signin .simain p:nth-of-type(5) span, .signin .simain .sirdvcodes {
  cursor: pointer;
}

.signin .simain .iptype1 {
  padding-left: 50px;
  height: 38px;
  border: 1px solid #c1c1c1;
  background-color: #fff;
  font-size: 14px;
}

.signin .simain .siuser, .signin .simain .sipsw {
  width: 254px;
}

.signin .simain .sivcode {
  width: 100px;
}

.signin .simain .sivcodes {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  padding: 2px 4px;
  width: 46px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #c1c1c1;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  font-size: 14px;
}

.signin .simain .siin {
  width: 306px;
  height: 50px;
  color: #fff;
  font-size: 18px;
  background: #008842;
  border: 0 none;
  cursor: pointer;
}

.signin .simain .siin:hover {
  background: #09964e;
}

.signin .simain div a {
  display: inline-block;
  width: 88px;
  height: 20px;
  margin-right: 20px;
  background: url(../img/sign_sprite2.png) no-repeat -60px -200px;
}

.signin .simain div a:nth-of-type(2) {
  background-position: -160px -200px;
}

.signin .simain div a:nth-of-type(3) {
  width: 57px;
  margin-right: 0;
  background-position: -260px -200px;
}

.signup {
  padding-top: 70px;
  display: none;
}

.signup .container {
  position: relative;
}

.signup .sumain {
  padding: 40px 100px;
  border: 1px solid #c4dfb1;
  background: url(../img/sign_bg1.png) no-repeat 730px 110px;
  background-color: #fff;
}

.signup .sumain b {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin: 0 10px;
  text-align: center;
}

.signup .sumain p {
  margin-bottom: 30px;
  font-size: 14px;
  position: relative;
}

.signup .sumain .iptype2 {
  padding-left: 14px;
  height: 38px;
  border: 1px solid #c1c1c1;
  background-color: #fff;
  font-size: 14px;
}

.signup .sumain .suvcode {
  width: 147px;
}

.signup .sumain .suvcodes {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  padding: 2px 4px;
  width: 46px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #c1c1c1;
  text-decoration: none;
  letter-spacing: 2px;
  text-align: center;
  color: #878787;
}

.signup .sumain .surdvcodes {
  cursor: pointer;
}

.signup .sumain .sumobile {
  padding-right: 35px;
  width: 255px;
  background: url(../img/sign_sprite.png) no-repeat 276px -30px;
}

.signup .sumain .sumobilecode {
  width: 147px;
}

.signup .sumain .sumobileget {
  display: inline-block;
  width: 120px;
  height: 38px;
  margin-left: 17px;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  background-color: #f7f7f7;
  border: 1px solid #c1c1c1;
  color: #008842;
  cursor: pointer;
}

.signup .sumain .supsw, .signup .sumain .su2psw, .signup .sumain .suinvite {
  padding-right: 35px;
  width: 255px;
  background: url(../img/sign_sprite.png) no-repeat 276px -70px;
}

.signup .sumain p:nth-of-type(7) {
  margin-left: 124px;
}

.signup .sumain p:nth-of-type(7) a {
  color: #008842;
}

.signup .sumain .suup {
  width: 306px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background: #008842;
  border: 0 none;
  cursor: pointer;
}

.signup .sumain .suup:hover {
  background: #09964e;
}

.signup .sumain .sutip {
  position: absolute;
  top: 11px;
  left: 450px;
  height: 17px;
  line-height: 17px;
}

.signup .sumain p:nth-of-type(7) .sutip {
  margin-left: -124px;
}

.signup .sumain .sutip::before {
  content: '';
  display: block;
  float: left;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  background: url(../img/sign_sprite2.png) no-repeat;
}

.signup .sumain .sutipok::before {
  background-position: 0 -200px;
}

.signup .sumain .sutiptips::before {
  background-position: -20px -200px;
}

.signup .sumain .sutiperror::before {
  background-position: -40px -200px;
}

.signup .susi {
  position: absolute;
  top: -30px;
  right: 30px;
  font-size: 14px;
}

.signup .susia {
  color: #ef760a;
  text-decoration: underline;
}

.decorationline {
  border-bottom: 1px solid #e0e0e0;
  margin: 30px 0;
}
